@font-face {
font-family: 'Poppitandfinch';
src: url('../fonts/Montserrat-UltraLight.ttf') format('opentype');
font-weight: 300;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Poppitandfinchsans';
src: url('../fonts/Montserrat-UltraLight.ttf') format('opentype');
font-weight: 300;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Montserrat-Light';
src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
font-weight: 300;
font-style: regular;
font-display: swap;
}


#bodyy {
    background-image: url('/images/bg new3.jpg');
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: repeat;
   
}

.montserrat {
    font-family: Montserrat-Light, sans-serif;
}
.Poppitandfinch {
    font-family: Poppitandfinch, sans-serif;
}
  
.Poppitandfinchsans {
    font-family: Poppitandfinchsans, sans-serif;
}

.text-blau {
    color: #b5ff09;
}

.bg-blau {
    background-color: #13c5eb;
}

.bg-green {
      background-color: rgb(175, 240, 71);
}
